* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html,body {
    height: 100%;
    font-family: 'PT Sans', sans-serif;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    height: 250px;
    background: #dcdcdc;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 980px;
    margin: 0 auto;
}
.container_1 {
    display: flex;
    align-items: center;
    margin: 50px 0px 0px 10px ;

}

.square img{
    width: 100px;
    height: 100px;

}

.header_logo {
    text-transform: uppercase;
    color: #7A7A7A;
    font-weight: 800;
    font-size: 150%;
    cursor: pointer;
    padding: 10px;

}

.nowrap {
    white-space: nowrap;
    margin-top: 5%;
    font-size: 14px;
}

.container_2 {
    align-items: center;
    margin: -130px 0px 0px 600px;

}

.tel a {
    color: #707070;
    font-size: 40px;

}

.tel_title a {
    color: #707070;
    font-size: 24px;
    float: right;
    margin-top: -10px;
    text-align: center;
    background-image: linear-gradient(to right, #707070 75%, transparent 75%);
    background-position: 0 1.04em;
    background-repeat: repeat-x;
    background-size: 8px 3px;
}
.main{
    flex: 1 1 auto;
}
menu {
    width: 100%;
    height: 80px;
    background: #777777;
}
.menu_list{
    max-width: 980px;
    position: relative;
    z-index: 2;
}
.burger_menu {
    display: none;
    margin-top: 10px;
}
.header_menu {
    text-align: center;
    width: 100%;
    height: 100%;
}
.menu_list ul {
    text-align: center;
}
.header_link {
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    text-decoration: none;
}

.menu_list a {

    color: white;
}
.menu_list a:hover {
    border-bottom: 2px solid white;
}
.menu_list li {
    margin: 0px 0px 0px 10px;
    color: white;
}

.menu_list {
    display: inline-flex;
    font-size: 25px;
    padding: 5px;
    margin-top: 10px;
    background-color: #777777;
}


@media (max-width: 991px) {
    .burger_menu {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        margin: 0% 0% 0% 49%;

    }
    .pos_burg {
        padding-top: 30px;
    }
    .burger_menu span {
        position: absolute;
        background-color: white;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .burger_menu:before,
    .burger_menu:after {
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }

    .burger_menu:before {
        top: 0;
    }

    .burger_menu:after {
        bottom: 0;
    }

    .burger_menu.active span {
        transform: scale(0);
    }

    .burger_menu.active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .burger_menu.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header_menu {
        display: none;
    }
    ul.menu_list {
        display: block;

    }
    .header_menu.active {
        display: block;
        max-height: 400px;
        background-color: #777777;
        transition: all 0.3s ease 0s;
    }
}
slider{
    width: 100%;
    background: #F8F8F8;
    pointer-events: none;
    height: 375px;
}
.slider{
    position: relative;
    background: #F8F8F8;
    max-width: 980px;
    margin: 0 auto;

}
.slick-list{
    overflow: hidden;
}
.slick-track{
    display: flex;
    align-items: flex-start;
}

.slider .slick-arrow{
    position: absolute;
    top: 50%;
    margin: -30px 0px;
    z-index: 1;
    font-size: 0;
    width: 34px;
    height: 58px;
}
.slider .slick-arrow.slick-prev{
    left: 0;
    background: url("../images/arr-l.jpg") 0 0 / 100% no-repeat;
margin-left: 150px;


}
.slider .slick-arrow.slick-next{
    right: 0;
    background: url("../images/arr-r.jpg") 0 0 / 100% no-repeat;
    margin-right: 150px;
}
.slider_item{
    transition: all 0.3s ease 0s;
    text-align: center;
    max-width: 100%;
}

.slider_item img{
   max-width: 100%;
}


content{
    width: 100%;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
}


.list_first ul,a{
    color: #767676;
    font-size: 14px;
    margin-top: 10px;

}
.first_content {
    white-space: nowrap;
}
.left_block.content_1{

}
.content_1 p{
    color: #767676;
    font-size: 20px;
    margin-top: 25px;
}
.left_block.content_2{
    margin-top: 30px;
    position: absolute;
}
.content_2 li{
    font-size: 20px;
    margin-top: 10px;
}

.hide {
    display: none;
}
.hide + label ~ div{
    display: none;
}
/* оформляем текст label */
.hide + label {
    color: #767676;
    cursor: pointer;
    display: inline-block;
}
.hide:checked + label {
    color: #767676;
    border-bottom: 0;
}

.hide:checked + label + div {
    display: block;

}
.hide:checked + label + div a:hover {
    color: black;

    text-decoration: underline;
}
.content_2 .hide{
    font-size: 20px;
}
.content_2 .hide li a:hover{
    color: black;
    text-decoration: underline;

}
.content_3 .cont_img{
    margin-top: 110px;
    margin-left: 35px;
}
.content_3_1 a{
    margin-left: 5px;
    text-align: center;
    font-size: 30px;
    color: #444444;
    font-weight: 700;
}

.center_block{
    margin: 55px 0px 0px -15px;
}
.content_4{
    display: flex;
}
.content_4 .back_1{
    width: 250px;
    height: 380px;
    background-color: #dcdcdc;

}
.content_4 .back_1 img{
    width: 210px;
    height: 210px;
    margin: 20px 0px 0px 20px;
}
.content_4 .back_1 .price_t img{
    width: 28px;
    height: 21px;
    margin: 10px 0px 0px 65px;
}
.cont_t{
    font-size: 18px;
    color: #767676;
    margin: 15px 0px 0px 20px;
}
.price_t{
    font-size: 28px;
    color: #444444;
    margin: 30px 0px 0px 20px;
}
.content_4 .back_2{
    width: 250px;
    height: 380px;
    background-color: #dcdcdc;
    margin-left: 10px;

}
.content_4 .back_2 img{
    width: 210px;
    height: 210px;
    margin: 20px 0px 0px 20px;
}
.content_4 .back_2 .price_t img{
    width: 28px;
    height: 21px;
    margin: 10px 0px 0px 65px;
}
.content_4 .back_3{
    width: 250px;
    height: 380px;
    background-color: #dcdcdc;
    margin-left: 10px;
}
.content_4 .back_3 img{
    width: 210px;
    height: 210px;
    margin: 20px 0px 0px 20px;
}
.content_4 .back_3 .price_t img{
    width: 28px;
    height: 21px;
    margin: 10px 0px 0px 65px;
}
.content_5{
    display: flex;
}
.content_5 .back_4{
    width: 250px;
    height: 380px;
    background-color: #dcdcdc;
    margin-top: 20px;
}
.content_5 .back_4 img{
    width: 210px;
    height: 210px;
    margin: 20px 0px 0px 20px;
}
.content_5 .back_4 .price_t img{
    width: 28px;
    height: 21px;
    margin: 10px 0px 0px 65px;
}
.content_5 .back_5{
    width: 250px;
    height: 380px;
    background-color: #dcdcdc;
    margin-left: 15px;
    margin-top: 20px;
}
.content_5 .back_5 img{
    width: 210px;
    height: 210px;
    margin: 20px 0px 0px 20px;
}
.content_5 .back_5 .price_t img{
    width: 28px;
    height: 21px;
    margin: 10px 0px 0px 65px;
}
.center_block .numb_cont{

    margin: 30px 0px 0px 300px;
    word-spacing: 15px;
    color: #767676;
    font-size: 14px;
}
.numb_cont .numb_3{
    font-size: 18px;
}

.center_block hr{
    width: 780px;
    margin: 60px 0px 0px 0px;
}
.center_block.content_6{
    display: flex;
    margin-top: 30px;
    margin-left: 0px;

}
.text_cont_1{
    width: 370px;
    height: 300px;
    font-size: 15px;
    color: #767676;
}
.text_cont_2{
    width: 370px;
    height: 300px;
    font-size: 15px;
    margin: -300px 0px 0px 410px;
    color: #767676;
}
@media (max-width: 1440px) {
    .center_block{
        margin-left: -30px;
    }
    .center_block .numb_cont {
        margin-left: 210px;
    }

    .center_block hr {
        width: 710px;
        margin-left: 0px;
    }

    .center_block.content_6 {
        display: flex;
        margin-top: 30px;
        margin-left: 0px;
    }

    .text_cont_1 {
        width: 220px;
        height: 500px;
    }
    .text_cont_2{
        width: 370px;
        height: 300px;
        font-size: 15px;
        margin: -495px 0px 0px 310px;
        color: #767676;
    }
}
footer{
    display: inline-block;
    height: 220px;
    background-color: #767676;
    position: relative;
    width: 100%;
}
.footer{
    max-width: 980px;
    margin: 0 auto;
}
.foot_1{
    display: block;
    margin: 50px 0px 0px 10px;
}
.foot_1 p{
    width: 350px;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 400;
}
.foot_2{
    display: block;
    margin:-50px 0px 0px 500px;
}
.foot_2 li a{
    width: 205px;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 26px;
    text-decoration: underline;
    color: #ffffff;
    font-weight: 400;
}
.foot_3{
    display: block;
    margin:-120px 0px 0px 790px;
}
.foot_3 .comp_img img{
    width: 36px;
    height: 38px;
}
.comp_title1{
    margin: -46px 0px 0px 38px;
    color: #ffffff;
}
.comp_title1 a{
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 22px;
    text-decoration: underline;
    color: #ffffff;
    font-weight: 400;
}
.comp_title2{
    margin: 0px 0px 0px 38px;
}
.comp_title2 p{
    font-size: 14px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 400;
    white-space: nowrap;
}
@media (max-width: 1440px){
    footer{
        display: inline-block;
        height: 220px;
        background-color: #767676;

    }
    .foot_1{
        margin: 50px 0px 0px 105px;
    }
    .foot_2{
        margin: -50px 0px 0px 355px;
    }
    .foot_3{
        margin:-120px 0px 0px 700px;
    }
}
.dm-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
/* активируем модальное окно */

.dm-overlay:target {
    display: block;
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
}
/* блочная таблица */

.dm-table {
    display: table;
    width: 100%;
    height: 100%;
}
/* ячейка блочной таблицы */

.dm-cell {
    display: table-cell;
    padding: 0 1em;
    vertical-align: middle;
    text-align: center;
}
/* модальный блок */

.dm-modal {
    display: inline-block;
    padding: 20px;
    width: 465px;
    height: 575px;
    font-size: 24px;
    text-transform: uppercase;
    color: #535353;
    font-weight: 700;
    background: #ffffff;
    -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    text-align: center;
}
.modal_content{
    background-color: white;
    padding: 20px;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    margin: 30px 0px 0px 0px;
}
.modal_content form{
    display: block;
}
.modal_content ul{
    font-size: 14px;
    color: #535353;
    font-weight: 400;
}
/* рисуем кнопарь закрытия */

.close {
    z-index: 9999;
    float: right;
    width: 30px;
    height: 30px;
    color: #cfd8dc;
    text-align: center;
    text-decoration: none;
    line-height: 26px;
    cursor: pointer;

}
.close:after {
    display: block;
    width: 30px;
    height: 30px;
    border: 2px solid #cfd8dc;
    content: 'X';
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
    margin: -63px 0px 0px 50px;
    background: #707070;
}
/* кнопка закрытия при наведении */

.close:hover:after {
    border-color: #fff;
    color: #fff;
    width: 30px;
    height: 30px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
/* варианты фонвой заливки модального блока */

.green {
    background: #388e3c!important;
}
.cyan {
    background: #0097a7!important;
}
.teal {
    background: #00796b!important;
}
/* движуха при появлении блоков с содержанием */

@-moz-keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}
@-webkit-keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1
    }
}